<!DOCTYPE html>
<head>
<style>
body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: montserrat;
  font-size: 20px;
}
</style>
</head>

<body>
<html>
<h1>Personal Sneaker Vault</h1>
<h2>Login</h2>

<form action='/users/login' method="POST">
  Username: <input type=text name="username">
  Password: <input type=password name="password">
            <input type=submit>
</form>

</body>
</html>

