<!DOCTYPE html>
<head>
<style>


body {
  background-color: ;
}

h1 {
  font-family: monospace;
  color: blue;
  text-align: left;
}

h2 {
  color: teal;
  font-family: monospace;
  text-align: left;
}

p {
  font-family: monospace;
  font-size: 20px;
}
</style>
</head>

<body>
<html>
<h1>Personal Sneaker Vault</h1>
<h2>Login</h2>

<%if @error_message%>
  <p><%=@error_message%></p>
<%end%>

<form action='/users/login' method="POST">
  Username: <input type=text name="username" value="<%=@user && @user.username%>">
  Password: <input type=password name="password">
            <input type=submit value="Login">
</form>

</body>
</html>

<a href="/">Home Page</a> 

