<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: ;
}

h1 {
  color: blue;
  font-family: monospace;
  text-align: left;
}

p {
  font-family: monospace;
  font-size: 20px;
}

h2 {
  color: white;
  font-family: monospace;
  text-align: left;
}

h3 {
  color: teal;
  font-family: monospace;
  text-align: left;
}


</style>
</head>

<body>
<html>

<h1>Personal Sneaker Vault, SIGN UP</h1>
<h3>Please create a Username & Password to sign up!</h3>


<%# <h3>Please create a Username & Password to sign up!</h3><br> %>

<form action='/users/signup' method="POST">
  Username: <input type=text name="username">
  Password: <input type=password name="password">
            <input type=submit value="Sign Up"><br>
</form>            

<%if @error_message%>
  <p><%=@error_message%></p>
<%end%>          

<a href="/">Home Page</a>
<a href='/users/login'>Login Page</a>


</body>
</html>