<h1>Sneaker Collection</h1>


<form action='/sneakers' method="POST">
  Sneaker name: <input type=text name="sneaker_name">
  Sneaker Price: <input type=number name="sneaker_price">
  Sneaker Brand: <input type=text name="sneaker_brand">
            <input type=submit>
</form>