<h1>Sneaker Collection</h1>

<%if @error%>
  <p><%=@error%></p>
<%end%>
<form action='/sneakers' method="POST">
  Sneaker Name: <input type=text name="sneaker_name">
  Sneaker Price: <input type=number name="sneaker_price">
  Sneaker Brand: <input type=text name="sneaker_brand">
            <input type=submit>
</form>

<a href="/">Home Page</a> 