<!DOCTYPE html>
<html>
<head>
<style>
body style {
  background-color: ;
}

h1 {
  font-family: monospace;
  color: blue;
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 20px;
  color: blue;
}
</style>
</head>
<body>

<h1>Sneaker Details</h1>
<P>SNEAKER NAME </p> <%= @sneaker.sneaker_name %>
<p>RETAIL PRICE</p> $ <%= @sneaker.sneaker_price %>
<p>BRAND</p><%= @sneaker.sneaker_brand%>
</body>
</html>

<a href='/sneakers'>My Sneaker Vault</a>









